.todo { 
	overflow:hidden;
}
.todo { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2678px;
	position:absolute;
}
.e9_48 { 
	width:1000px;
	height:1000px;
	position:absolute;
	left:220px;
	top:905px;
}
.e9_49 { 
	background-color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:1000px;
	height:1000.0020141601562px;
	position:absolute;
	left:0px;
	top:0px;
}
.services { 
	background-color:rgba(245.00000059604645, 186.0000041127205, 122.00000032782555, 1);
	width:1440px;
	height:519px;
	position:absolute;
	left:0px;
	top:937px;
}
.home { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:1440px;
	height:868px;
	position:absolute;
	left:0px;
	top:68px;
}
.clientes { 
	background-color:rgba(236.00000113248825, 236.00000113248825, 236.00000113248825, 1);
	width:1440px;
	height:1222px;
	position:absolute;
	left:2px;
	top:1456px;
}
.botaoIni { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.00000059604645, 186.0000041127205, 122.00000032782555, 1);
	width:213px;
	height:70px;
	position:absolute;
	left:131px;
	top:607px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.titulo { 
	color:rgba(0, 0, 0, 1);
	width:450px;
	height:103px;
	position:absolute;
	left:96px;
	top:231px;
	font-family:Lato;
	text-align:left;
	font-size:50px;
	letter-spacing:0.5;
}
.e1_27 { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:103px;
	position:absolute;
	left:103px;
	top:1522px;
	font-family:Lato;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.tituloCoco { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:103px;
	position:absolute;
	left:122px;
	top:2080px;
	font-family:Lato;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.tituloCoco2 { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:103px;
	position:absolute;
	left:520px;
	top:2080px;
	font-family:Lato;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.tituloMima { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:103px;
	position:absolute;
	left:922px;
	top:2080px;
	font-family:Lato;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.textoIni { 
	color:rgba(0, 0, 0, 0.6499999761581421);
	width:447px;
	height:103px;
	position:absolute;
	left:99px;
	top:384px;
	font-family:Lato;
	text-align:left;
	font-size:25px;
	letter-spacing:0.5;
}
.FotoCoco2 { 
	width:320px;
	height:362px;
	position:absolute;
	left:562px;
	top:1656px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.fotoMima { 
	width:320px;
	height:362px;
	position:absolute;
	left:962px;
	top:1656px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.fotoCoco { 
	width:320px;
	height:362px;
	position:absolute;
	left:165px;
	top:1656px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.card1 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:203px;
	height:237px;
	position:absolute;
	left:183px;
	top:1053px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.card2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:203px;
	height:237px;
	position:absolute;
	left:484px;
	top:1053px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.card3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:203px;
	height:237px;
	position:absolute;
	left:768px;
	top:1053px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.card4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:203px;
	height:237px;
	position:absolute;
	left:1054px;
	top:1053px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e1_19 { 
	color:rgba(0, 0, 0, 1);
	width:162px;
	height:30px;
	position:absolute;
	left:203px;
	top:1201px;
	font-family:Lato;
	text-align:center;
	font-size:15px;
	letter-spacing:0.5;
}
.descCoco{ 
	color:rgba(0, 0, 0, 1);
	width:285px;
	height:41px;
	position:absolute;
	left:180px;
	top:2142px;
	font-family:Lato;
	text-align:justified;
	font-size:15px;
	letter-spacing:0.5;
}
.descCoco2 { 
	color:rgba(0, 0, 0, 1);
	width:285px;
	height:41px;
	position:absolute;
	left:595px;
	top:2142px;
	font-family:Lato;
	text-align:justified;
	font-size:15px;
	letter-spacing:0.5;
}
.e1_20 { 
	color:rgba(0, 0, 0, 1);
	width:160px;
	height:31px;
	position:absolute;
	left:506px;
	top:1202px;
	font-family:Lato;
	text-align:center;
	font-size:15px;
	letter-spacing:0.5;
}
.e1_21 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:30px;
	position:absolute;
	left:790px;
	top:1207px;
	font-family:Lato;
	text-align:center;
	font-size:15px;
	letter-spacing:0.5;
}
.e1_22 { 
	color:rgba(0, 0, 0, 1);
	width:162px;
	height:31px;
	position:absolute;
	left:1075px;
	top:1209px;
	font-family:Lato;
	text-align:center;
	font-size:15px;
	letter-spacing:0.5;
}
.fundoCard1 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:67px;
	height:60px;
	position:absolute;
	left:250px;
	top:1112px;
}
.fundoCard2 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:67px;
	height:60px;
	position:absolute;
	left:552px;
	top:1112px;
}
.fundoCard3 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:66px;
	height:60px;
	position:absolute;
	left:837px;
	top:1112px;
}
.fundoCard4 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:66px;
	height:60px;
	position:absolute;
	left:1123px;
	top:1112px;
}
.header { 
	box-shadow:0px 6px 6px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.00000059604645, 186.0000041127205, 122.00000032782555, 1);
	width:1440px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_39 { 
	background-color:rgba(245.00000059604645, 186.0000041127205, 122.00000032782555, 1);
	width:69px;
	height:48px;
	position:absolute;
	left:1289px;
	top:9px;
}
.e9_47 { 
	background-color:rgba(245.00000059604645, 186.0000041127205, 122.00000032782555, 1);
	width:69px;
	height:48px;
	position:absolute;
	left:1209px;
	top:10px;
}



.iconCard4 { 
	width:51px;
	height:46px;
	position:absolute;
	left:1130px;
	top:1119px;
}

.iconCard3 { 
	width:47px;
	height:39px;
	position:absolute;
	left:846px;
	top:1122px;
}

.iconCard2 { 
	width:49px;
	height:40px;
	position:absolute;
	left:561px;
	top:1121px;
}

.iconCard1 { 
	width:45px;
	height:40px;
	position:absolute;
	left:261px;
	top:1121px;
}

.textoBotao { 
	color:rgba(0, 0, 0, 1);
	width:134px;
	height:39px;
	position:absolute;
	left:173px;
	top:622px;
	font-family:Lato;
	text-align:center;
	font-size:18px;
	letter-spacing:0.5;
}
.descMima { 
	color:rgba(0, 0, 0, 1);
	width:285px;
	height:41px;
	position:absolute;
	left:993px;
	top:2134px;
	font-family:Lato;
	text-align:justified;
	font-size:15px;
	letter-spacing:0.5;
}
.footer { 
	background-color:rgba(245.00000059604645, 186.0000041127205, 122.00000032782555, 1);
	width:1440px;
	height:598px;
	position:absolute;
	left:2px;
	top:2080px;
}
.footer { 
	border:0px solid rgba(0, 0, 0, 1);
}
.copyright { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:45px;
	position:absolute;
	left:562px;
	top:2633px;
	font-family:Lato;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.instagram { 
	background-color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:31.9959716796875px;
	height:30.492990493774414px;
	position:absolute;
	left:1308px;
	top:17.154447555541992px;
}
.facebook { 
	width:30px;
	height:30px;
	position:absolute;
	left:1230px;
	top:20px;
}
.e9_53 { 
	background-color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:30px;
	height:30.00006103515625px;
	position:absolute;
	left:0px;
	top:0px;
}
.Logo { 
	color:rgba(0, 0, 0, 1);
	width:162px;
	height:34px;
	position:absolute;
	left:62px;
	top:17px;
	font-family:Lato;
	text-align:center;
	font-size:30px;
	letter-spacing:0.5;
}
.fotodog { 
	width:771px;
	height:863px;
	position:absolute;
	left:669px;
	top:73px;
	background-image:url(images/flouffy__dmo9dm_gku_unsplash_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
